

.container-2{
    width:75%;
    margin:auto ;
    text-align: center;
}.container-1{
    width:75%;
    margin:auto ;
    text-align: center;
}

.flex-box-container-1{
    display: flex;

    padding: 10px;
    flex-wrap: wrap;
    justify-content:  space-around;
    text-align: center;


}
